.center {
  background-color:#E5E5E5;
  width:20em;
  text-align:left;
  margin:5em;
  padding:1em;
  border:thin solid black;
}
.entered{
  background-color:#FBDDD5;
  border:thin solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
